*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

}
.header{
    margin-top: 30px;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px 5px rgb(252, 252, 252);
    font-size: 2rem;
    padding: 10px;
    font-family: Bungee, "serif";
}
img{
    height: 310px;
    width: auto;
    cursor: pointer;
}
.flexContainer{
    margin-top: 70px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
    flex-grow: 1;
}
.rockPic:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgb(255, 58, 9);
}
.paperPic:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgb(0, 178, 248);
}
.scissorsPic:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgb(218, 218, 48);
}
.resultContainer{
    flex-grow: 1;

    display: flex;
    justify-content: center;
    gap: 130px;

    margin-bottom: 30px;
}
.playerSel, .computerSel{
    font-size: 2.7rem;
    color: beige;
    font-family: Bungee, "serif";
    padding: 20px;
}
.result{
    flex-grow: 1;
    font-size: 2.6rem;
    color: beige;
    text-decoration:wavy;
    font-family: Bungee, "serif";
    text-align: center;
    margin-bottom: 50px;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Bungee, "serif";

    border: 2px solid white;
    padding: 22px;
    color: beige;
    background-color: rgba(43, 41, 41, 0.9);
    z-index: 10;
    font-size: 2.6rem;

    display: flex;
    flex-direction: column;
    gap: 50px;

    width: 600px;
    max-width: 80%;
    border-radius: 15px;

    visibility: hidden;

}
.popup h2{
    text-align: center;
}
.flexPopUp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.resultPopUp{
    text-align: center;
}
.btnLink{
    align-self: center;
}
.btnPopUp{
    border: 1px solid beige;
    border-radius: 5px;
    padding: 13px 7px;
    background-color: rgba(181, 125, 219, 0.3);
    color: beige;
    width: 150px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: Bungee, "serif";
    cursor: pointer;
    align-self: center;
}
.btnPopUp:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgb(193, 124, 240);
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}
footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    font-size: 1.2rem;
}
footer a{
    color: rgb(235, 235, 77);
}